@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded&display=swap');

body{
    margin: 0%;
    padding: 0%;
    background:url(https://cdn.wallpapersafari.com/9/57/PdJiN3.jpg);
}

#wrap{
    background:url(https://img.freepik.com/free-vector/realistic-white-golden-geometric-background_79603-2032.jpg?w=2000);
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 70px;
    box-shadow: 10px 10px grey;
    padding-top: 20px;
}

.thepost{
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    padding-left: 50px;
    height: 400px;
    width: 70%;
}

.posttitle{
    font-size: 60px;
    color: #996515	;
    margin-bottom: 0px;
}

.dateheader{
    font-size: 15px;
    color: #D4AF37;
}

#wrap p:not(.postfooter){
    font-size: 30px;
    color: #D4AF37;
    text-indent: 50px;
    padding: 20px 0px;
}

.postfooter {
    font-size: 20px;
    color: #D4AF37;
    position: relative;
    text-align: right;
} 
